/bitrix
/upload
/vendor
/local/vendor
/local/cache

/local/composer.phar
/composer.phar

/node_modules
/local/node_modules

/.idea
/.bash_history
/.viminfo
.DS_Store

.gitmodules

/robots.txt
*.lock
*.log
sitemap*.xml